@using Gafisa.AlphaBook.Dominio
@using Gafisa.AlphaBook.Models.Home
@model IEnumerable<PostagemModel>  
           
@if(Model.IsNullOrEmptyCollection())
{
    <p class="msg-sem-retorno">@String.Format(Gafisa.AlphaBook.Dominio.Mensagens.Comum.NaoHaNenhumaInformacaoSobre, "posts deste contato.")</p>
}
else
{
    foreach (var item in Model)
    {
        var classNotificacao = item.Notificacao ? "ico-post-notificacao" : "ico-post-notificacao-inativo";
        var classCurtir = item.Curtiu ? "ico-post-like post-like" : "ico-post-like-inativo post-like";
        var lembrete = string.Format("Lembrete: {0:d}", item.DataLembrete);
        var linhaTempo = item.LinhaTempo ? "ico-post-linha-tempo" : "ico-post-linha-tempo-inativo";
        var areaPrivacidade = item.DepartamentoPrivacidade.IsNullOrEmpty() ? "" : item.DepartamentoPrivacidade;
        var dataPublicacao = string.Format("{0}", item.DataPublicacao);
        if (item.DataRetroativa.HasValue)
        {
            dataPublicacao += " | " + string.Format("{0}", item.DataRetroativa);
        }

        <div class="sep-posts-contato">
            <div class="box-post" data-id="@item.Id">
                @if (item.DeveExibirIconeEtapa())
                {
                <div class="status-post @item.ObterClasseCssStatusEtapa()"></div>
                }
                @Html.ProfilePhoto(item.UsuarioDonoPostagemId)
                <div class="dados-post">
                    <p class="nome-post">@item.Titulo</p>
                    <p class="lugar-post">@item.NomeProjeto</p>
                    <p class="usario-post">@string.Format("{0} | {1}", item.NomeCompleto, item.Departamento)</p>
                    <p class="data-post">@dataPublicacao</p>
                </div>
                <div class="msg-post">
                    @Html.Raw(HttpUtility.HtmlDecode(item.Postagem))
                    <a class="contato-leiaMais" data-postagemId="@item.Id"  href="javascript:void(0);">... leia mais</a>    
                </div>
                <div class="icones-post">
                    @if (item.Anexos > 0)
                    {
                        <a href="javascript:void(0);" class="ico-post-anexo" title="Anexos" data-postagemid="@item.Id" id="visualizarAnexosPost">@item.Anexos</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="ico-post-anexo-inativo" title="Anexos">0</a>
                    }    
                    @if (!item.Latitude.IsNullOrEmpty()){
                        <a href="javascript:void(0)" class="ico-post-pin navegar-mapa" title="Localização"  data-id="@item.Id" data-tipo="postagem" data-idProjeto="@item.ProjetoId">Localização</a>
                    }
                    else if(item.ContatoId.HasValue){
                        <a href="javascript:void(0)" class="ico-post-pin navegar-mapa" title="Localização"   data-id="@item.ContatoId" data-tipo="contato" data-idProjeto="@item.ProjetoId">Localização</a>     
                    }
                    else{
                        <a href="javascript:void(0)" class="ico-post-pin-inativo" title="Localização">Localização</a>
                    }
                    @*<a class="ico-post-pin" href="#">Pin</a>*@
                    <a href="javascript:void(0);" class="@classNotificacao" title="Notificação">Notificação</a>    
                    <a href="javascript:void(0);" class="ico-post-lembrete" title="@lembrete">Lembrete</a>
                    <a href="javascript:void(0);" class="@linhaTempo linhaTempo" title="@Html.Conditional(item.EtapaId.HasValue, item.EtapaNome, "Linha do tempo")" data-podealterar="@item.PodeAlterar.ToString().ToLower()"  data-id="@item.Id" data-marco="@item.LinhaTempo.ToString().ToLower()">Linha do tempo</a>
                    <a href="javascript:void(0);" class="ico-post-p-associados" title="Projetos associados">@item.ProjetosAssociados</a>
                    @if (item.PrivacidadeId == Privacidade.UsuariosEspecificos)
                    {
                        <a href="javascript:void(0);" title="@item.UsuariosEspecificos" data-html-tooltip="true" class="ico-post-perfil-publicacao">@item.NomePrivacidade</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" title="@areaPrivacidade" class="ico-post-perfil-publicacao">@item.NomePrivacidade</a>
                    }
                </div>

                @if (item.PodeExcluir)
                {
                    <a href="javascript:void(0);" id="btnExcluirPostTimeLine" class="ico-post-excluir post-contatos-excluir" title="Excluir">Excluir</a>
                }
                <a href="javascript:void(0)" data-id="@item.Id" data-postagemId="@item.Id" class="@classCurtir" title="Curtiram isso"></a>
                <a href="javascript:void(0);" data-id="@item.Id" class="numero-seguir btn-curtidores">@item.Curtidas</a> 
            </div>
        </div>

    }
}