@model IEnumerable<Gafisa.AlphaBook.Dominio.DTO.HistoricoArquivoDto>

@if (Model.IsNullOrEmptyCollection())
{
	<p class="msg-sem-retorno">@String.Format(Gafisa.AlphaBook.Dominio.Mensagens.Comum.NaoHaNenhumaInformacaoSobre, "Histórico")</p>
}
else
{
	foreach (var historico in Model)
	{
		<tr data-id="@historico.HistoricoId">
			<td class="table-left colun-1"><div style="width: 128px;">@historico.NomeArquivo</div></td>
			<td class="colun-2"><div style="width: 58px;">@historico.Versao</div></td>
			<td class="colun-3"><div style="width: 106px;">@historico.Data.ToString()</div></td>
			<td class="colun-4"><div style="width: 125px;">@historico.UsuarioNome @historico.UsuarioSobrenome</div></td>
			<td class="colun-5"><div style="width: 87px;">@historico.Departamento</div></td>
			<td class="colun-6"><div style="width: 100px;">@historico.PerfilPublicacaoClassificacao</div></td>
			<td class="colun-7"><div style="width: 135px;">@historico.Observacao</div></td>
			<td class="colun-8">
				<div style="width: 48px;"><a class="ico-download" data-referencia="@historico.Referencia" data-nome="@historico.NomeArquivo" data-idimagem="@historico.IdStream" href="javascript:void(0);">download</a></div>
			</td>
			<th class="colun-9">
			@if(historico.UsuarioAdministrador && historico.Versao != Model.Max(e => e.Versao))
			{
				<div style="width: 48px;"><a class="ico-excluir" data-referencia="@historico.Referencia" data-id="@historico.ArquivoId" data-historicoid="@historico.HistoricoId" href="javascript:void(0);">Excluir</a></div>
			}
			else
			{
				<div style="width: 48px;">&nbsp;</div>
			}
			</th>
		</tr>
	}
}
