@model IEnumerable<Gafisa.AlphaBook.Dominio.DTO.ClassificacaoTaxonomiaDto>

@if (Model.IsNullOrEmptyCollection())
{
    <p class="msg-sem-retorno">@String.Format(Gafisa.AlphaBook.Dominio.Mensagens.Comum.NaoHaNenhumaInformacaoSobre, "Classificação")</p>
}
else
{
    foreach (var classificacao in Model)
    {
        <tr data-id="@classificacao.Id">
            <td class="colun-1">@classificacao.Id</td>
			<td class="colun-2">@classificacao.Nome</td>
            <td class="colun-3">@classificacao.ParaQueServe</td>
            <td class="colun-4">@classificacao.PalavrasChave</td>
			<td class="colun-5">@classificacao.Privacidade</td>
			<td class="colun-6">@(classificacao.Milestone ? "Sim" : "Não")</td>
            
			<td class="colun-7">
            @if (Gafisa.AlphaBook.Componentes.Permissao.Permissao.UsuarioPossuiPermissao(ViewData, Secao.Administracao, Funcionalidade.TaxonomiaPastas, Acao.EditarProprios))
            {
                <a class="ic-editar" href="@Url.Action("EditarClassificacao", "Admin", new { id = classificacao.Id })">Editar</a>
            }
            </td>
            
            <td class="colun-8">
            @if (Gafisa.AlphaBook.Componentes.Permissao.Permissao.UsuarioPossuiPermissao(ViewData, Secao.Administracao, Funcionalidade.TaxonomiaPastas, Acao.RemoverProprios))
            {
                <a class="ic-excluir" data-id="@classificacao.Id" href="javascript:void(0);">Excluir</a>
            }
            </td>
        </tr>
    }
}
